<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Object Recognition</title>
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    <script src="../public/js/webcam.js"></script>
</head>
<body>
<div class="main-container">
    <div class="webcam-container">
        <video id="webcam" autoplay playsinline></video>
        <button id="capture">Capture Photo</button>
    </div>

    <div id="results" class="scrollable-results"></div>
</div>
</body>
</html>
